<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>ورود</title>
</head>

<body>
    <div class="voorodak voorodak-default" style="background: #ffffff">
        <div class="voorodak__wrapper"
             style="--voorodak-button-color: #5498fa; --voorodak-button-color-hover: #2c61a6;">
            <div class="voorodak__wrapper-main">
                <div class="voorodak__wrapper-main-box">
                    <div class="voorodak__wrapper-main-box-title">ورود</div>
                    <div class="voorodak__wrapper-main-box-description">
                        <p>سلام!</p>
                        <p>لطفا شماره موبایل و رمز عبور خود را وارد کنید.</p>
                    </div>
                    <div class="voorodak__wrapper-main-box-field">
                        <input type="text" name="phone" placeholder="شماره موبایل" autocomplete="off"
                               inputmode="numeric">
                    </div>
                    <div class="voorodak__wrapper-main-box-field">
                        <input type="password" name="password" placeholder="رمز عبور" autocomplete="off">
                    </div>
                    <button id="submit-login">ورود</button>
                    <div class="new-btn">
                        <a href="signup">حساب کاربری ندارید؟</a>
                    </div>
                    <div class="language-button">
                        <button onclick="window.location.href='login-ar'">العربية</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>