<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>ثبت نام</title>
</head>

<body>
    <div class="voorodak voorodak-default" style="background: #ffffff">
        <div class="voorodak__wrapper"
             style="--voorodak-button-color: #5498fa; --voorodak-button-color-hover: #2c61a6;">
            <div class="voorodak__wrapper-main">
                <div class="voorodak__wrapper-main-box" id="voorodak__wrapper-main-username">
                    <div class="voorodak__wrapper-main-box-title">ثبت نام</div>
                    <div class="voorodak__wrapper-main-box-description">
                        <p>لطفا اطلاعات خود را وارد کنید.</p>
                    </div>
                    <div class="voorodak__wrapper-main-box-field">
                        <input type="text" name="voorodak__username" placeholder="نام کاربری" autocomplete="off" inputmode="numeric">
                    </div>
                    <div class="voorodak__wrapper-main-box-field">
                        <input type="text" name="voorodak__username" placeholder="شماره موبایل" autocomplete="off"
                               inputmode="numeric">
                    </div>
                    <div class="voorodak__wrapper-main-box-field">
                        <input type="text" name="voorodak__username" placeholder="رمز عبور" autocomplete="off"
                               inputmode="numeric">
                    </div>
                    <div class="voorodak__wrapper-main-box-field">
                        <input type="text" name="voorodak__username" placeholder="تکرار رمز عبور" autocomplete="off" inputmode="numeric">
                    </div>
                    <button id="voorodak__submit-username">ورود</button>
                    <div class="new-btn"><a href="login">از قبل حساب کاربری دارید؟</a></div>
                    <div class="language-button">
                        <button onclick="window.location.href='signup-ar'">العربية</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>