<!DOCTYPE html>

<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/AuthStyle.css" />
</head>

<body class="page">
    <div class="page-container">
        <div class="center-wrapper">
            @RenderBody()
        </div>
    </div>
</body>
</html>
